body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: #1f1f1f;
    color: #f5f5f5;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

.dashboard-container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    padding: 20px;
    color: #fff;
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar ul li.active {
    background-color: #34495e;
    font-weight: bold;
    border-radius: 12px;
}

.sidebar ul li:hover {
    background-color: #34495e;
}

.sidebar ul li svg {
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}

.theme-toggle {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}